@tailwind base;
@tailwind components;
@tailwind utilities;

/* small customizations on top of Tailwind */
body {
  margin: 0;
  background-color: #e8f0f2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
